# Ignore Gradle project-specific cache directory
.settings
.idea 
.classpath
.project
/.gradle/
/.idea/
/.settings/
/.project/
/target/
/test/*.iml
*.iml

# Ignore Gradle build output directory
bin
build
history
target/site
